{% extends 'header_footer.html' %}
{% load static %}
{% block content %}
<!-- Content -->
    <div class="page-content">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url({% static 'images/pricing.jpg' %});">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Pricing Table</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="/client/Home/">Home</a></li>
                    <li>Pricing Table</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <div class="content-area">
            <!-- Left & right section start -->
            <div class="container">
                <!-- Pricing table-1 Columns 3 with gap -->
                <div class="p-a30 bg-white m-b30">
                    <div class="section-head">
                        <h2 class="text-uppercase">Pricing Plan</h2>
                    </div>


                    <div class="section-content">
                        <div class="pricingtable-row m-b30">
                            <div class="row">
                                {% for val in p1 %}
                                <div class="col-md-4 col-lg-4">
                                    <div class="pricingtable-wrapper">
                                        <div class="pricingtable-inner">
                                            <div class="pricingtable-price"> <span class="pricingtable-bx">₹{{val.amount}}</span> </div>
                                            <div class="pricingtable-title bg-primary">
                                                <h2>{{val.package_name}}</h2>
                                            </div>
                                            <ul class="pricingtable-features">
                                                <li><i class="fa fa-check"></i> Less Amount</li>
                                                <li><i class="fa fa-check"></i> Fast Service</li>
                                                <li><i class="fa fa-check"></i> Trustable worker</li>
                                                <li><i class="fa fa-check"></i> Easy to book</li>
                                            </ul>
                                            {% if val.package_name == 'packing' %}

                                            <form method="POST" action="/client/client_package_booking/{{val.package_id}}/{{val.TransportCompany_id_id}}">
                                                 {% csrf_token %}
                                            <button type="submit" class="site-button skew-secondry" >Booking</button>
                                                </form>
                                            {% else %}
                                            <form method="POST" action="/client/client_booking/{{val.package_id}}/{{val.TransportCompany_id_id}}/{{id}}">
                                                 {% csrf_token %}
                                            <button type="submit" class="site-button skew-secondry" >Vehicle</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Pricing table-1 Columns 3 with gap END -->
            </div>
            <!-- Left & right section  END -->
        </div>
    </div>
{% endblock %}