{% extends 'header.html' %}
{% load static %}
{% block content%}
      <!-- Main Content -->
<form method="post" name="form3" action="/update_transportcompanypackagedetail/{{a.TransportCompany_pk_detail_id}}" data-parsley-validate="">
  {% csrf_token %}
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>TransportCompany Package Detail</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="/index/">Dashboard</a></div>
            </div>
          </div>
          <div class="section-body">
            <div class="row">

              <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Update TransportCompany Package Detail</h4>
                  </div>
                  <div class="card-body">

                    <div class="form-group">
                      <label>TransportCompany name</label>
                      <div class="form-group">

                        <select class="form-control select2" name="TransportCompany_id">
                        {% for val in t %}
                          <option value="{{val.TransportCompany_id}}" {% if val.TransportCompany_id == a.TransportCompany_id_id %} selected {% endif %}>{{val.TransportCompany_name}}</option>
                        {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>TransportCompany package name</label>
                      <div class="form-group">

                        <select class="form-control select2" name="TransportCompany_pk_id">
                        {% for val in tp %}
                          <option value="{{val.TransportCompany_pk_id}}"  {% if val.TransportCompany_pk_id == a.TransportCompany_pk_id_id %} selected {% endif %}>{{val.TransportCompany_pk_name}}</option>
                        {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>register_date</label>
                        <input type="date" class="form-control phone-number" name="register_date" value="{{start}}" data-parsley-required="true" data-parsley-required-message="This field is required">
                    </div>
                    <div class="form-group">
                      <label>package end date</label>
                        <input type="date" class="form-control phone-number" name="package_end_date" value="{{end}}" data-parsley-required="true" data-parsley-required-message="This field is required">
                    </div>

                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                      <div class="col-sm-12 col-md-10">
                        <button class="btn btn-primary">UPDATE</button>
                      </div>
                    </div>
                  </div>
                </div>


              <div class="col-12 col-md-6 col-lg-6">




              </div>
            </div>
          </div>
        </section>
      </div>
</form>

{% endblock %}