.
]{% extends 'header.html' %}
{% load static %}
{% block content%}
      <!-- Main Content -->
<form method="POST" name="form3" action="/ins_gallery/" enctype="multipart/form-data"  class="form-horizontal" data-parsley-validate="" id="form_sample_1">
  {% csrf_token %}
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Gallery</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="/index/">Dashboard</a></div>
            </div>
          </div>
          <div class="section-body">
            <div class="row">

              <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Insert Gallery</h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label>Gallery Image</label>
                        <img src="" height="100" width="100" name="output" id="output"/>
                        <input type="file" class="form-control phone-number" name="gallry_path" id="gallry_path" accept="image/*" onchange="loadFile(event)" data-parsley-required="true" data-parsley-required-message="This field is required"/>
                        <script>
                             function loadFile(event){
                                        document.getElementById('output').src=URL.createObjectURL(event.target.files[0]);
                             }
                        </script>
                        <br/>
                    </div>

                    <div class="form-group">
                      <label>TransportCompany name</label>
                      <div class="form-group">

                      <select class="form-control select2" name="TransportCompany_id">
                        {% for val in t1 %}
                          <option value="{{val.TransportCompany_id}}">{{val.TransportCompany_name}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                      <div class="col-sm-12 col-md-10">
                        <button class="btn btn-primary">Insert</button>
                      </div>
                    </div>
                  </div>
                </div>


              <div class="col-12 col-md-6 col-lg-6">




              </div>
            </div>
          </div>
        </section>
      </div>
</form>

{% endblock %}